pipeline/Copy From Web.json
{
	"name": "Copy From Web",
	"properties": {
		"activities": [
			{
				"name": "Copy NY Taxi Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Date Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_NY_Taxi",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@pipeline().parameters.p_FileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "NY_Taxi",
						"type": "DatasetReference",
						"parameters": {
							"Datedir": {
								"value": "@variables('Date')",
								"type": "Expression"
							},
							"FileName": "NY_Taxi_2021_06.csv"
						}
					}
				]
			},
			{
				"name": "Set Date Variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date",
					"value": {
						"value": "@formatDateTime(utcNow(), 'ddMMyyyy')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_FileName": {
				"type": "string",
				"defaultValue": "yellow_tripdata_2021-02.csv"
			}
		},
		"variables": {
			"Date": {
				"type": "String",
				"defaultValue": "20220314"
			}
		},
		"annotations": []
	}
}